@model IEnumerable<CodesWeaver.Models.Student>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h1>Student List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                Student Name
            </th>
            <th>
                Student Phone
            </th>
            <th>
                Student Department
            </th>
            <th>
                Image
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentDept)
            </td>
            <td>
                <img src="~/images/@item.StudentImage"
                     class="rounded-circle"
                     height="60" width="60"
                     asp-append-version="true" />
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>